@font-face {
font-family: 'Archer Bold-Ital-Pro-A81lAR09';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/a2021dde-7a72-4cbd-a7dc-c3004fe360f9/archer-boldital-pro.woff') format('woff');
}