@font-face {
font-family: 'Gotham HTF-ThinItalic-9RatMrnm';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/b31729fd-7e8a-4ffb-91f7-85fdf10bb1b2/gothamhtf-thinitalic.woff') format('woff');
}