@font-face {
font-family: 'Gotham HTF-Black-4h6VcxUC';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/78ad4cb9-fd23-49a4-bdc6-afe42326ef6b/gothamhtf-black.woff') format('woff');
}