@font-face {
font-family: 'Darwin Pro Black-Norma-tlWuB5Mt';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/48a4d43e-89e4-4845-9703-2e1c12ed4ab5/darwinpro-black.woff') format('woff');
}