@font-face {
font-family: 'Pill Gothic 300mg Rg-P-LHFdX9Jc';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/5a915220-1e5e-4b5f-b50f-f93bda7ccfc0/pill-gothic-300mg-oblique.woff') format('woff');
}