@font-face {
font-family: 'Gotham HTF-LightConden-KqNA515L';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/87399a7b-bdda-46b2-9c08-4b602188efda/gothamhtf-lightcondensed.woff') format('woff');
}