@font-face {
font-family: 'Pill Gothic 300mg Rg-P-jkrJdYsw';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/ae709738-8da8-42cc-a5c2-101b113e5d83/pill-gothic-300mg-bold.woff') format('woff');
}