@font-face {
font-family: 'Gotham HTF-UltraItalic-9dOUxZzU';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/a8e21d0b-506b-4f66-9e5f-efd6bc4b48ec/gothamhtf-ultraitalic.woff') format('woff');
}