@font-face {
font-family: 'Pill Gothic 300mg Rg-P-6K80zhLB';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/0f45edb6-81f1-4a98-a222-ca9c52505c87/pill-gothic-300mg-bold-obq.woff') format('woff');
}