@font-face {
font-family: 'Minion Pro-It-qb6KIigG';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/e76de982-96a8-408a-8702-1f033b654e3b/minionpro-it.woff') format('woff');
}