@font-face {
font-family: 'Trajan Pro-Regular-uu9ZY5S0';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/5f0f906c-469d-4b4c-8ed3-c1428250b1fd/trajan-pro-regular.woff') format('woff');
}