@font-face {
font-family: 'Gotham HTF-LightItalic-KmvDIyyB';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/01c58038-c945-4656-82b4-cb8b22806d4d/gothamhtf-lightitalic.woff') format('woff');
}