@font-face {
font-family: 'Gotham HTF-XLightItali-1PtvXOh4';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/7d67e6d4-9cf3-4367-836f-811c5b5e7cf2/gothamhtf-xlightitalic.woff') format('woff');
}