@font-face {
font-family: 'Gotham HTF-BookCondens-mrFxoIf5';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/b79e71d2-6450-4d5e-a74d-21e3689f6ca8/gothamhtf-bookcondensed.woff') format('woff');
}