@font-face {
font-family: 'Gotham HTF-MediumConde-DJr8DE9O';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/09e25900-d8ca-49e4-a015-c74a217b1212/gothamhtf-mediumcondensed.woff') format('woff');
}