@font-face {
font-family: 'Gotham HTF-Light-GkX3GH2c';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/c2b26b2f-9f61-4a3e-985a-ff9e62bc9046/gothamhtf-light.woff') format('woff');
}