@font-face {
font-family: 'Archer Book-Ital-Pro-qfAsdfAp';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/04ff2b11-eb3c-4985-b632-d8ed680b0283/archer-bookital-pro.woff') format('woff');
}