@font-face {
font-family: 'Gotham HTF-BoldCondens-bjk4YeJs';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/7f6d6618-3414-4dd5-9fc4-5456490119e8/gothamhtf-boldcondensed.woff') format('woff');
}