@font-face {
font-family: 'Gotham HTF-Medium-EmYu6jz5';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/a726d631-f177-40c3-8da8-e10b900376a3/gothamhtf-medium.woff') format('woff');
}