@font-face {
font-family: 'Lato Medium-Normal-dVo3xYoc';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/6b404612-39ea-4be9-8077-c24266729fd3/lato-medium.woff') format('woff');
}