@font-face {
font-family: 'Minion Pro-Regular-1-rp5YoM3W';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/ad8776ff-cad6-4598-a6f0-7d1c1a68e9d5/minionpro-regular-1.woff') format('woff');
}