@font-face {
font-family: 'Lato Black-Normal-375OqfJ3';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/381bcbb4-fe34-4f11-8183-5022de54a0f8/lato-black.woff') format('woff');
}