@font-face {
font-family: 'Gotham-BoldItalic-BOlttkIe';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/25941c38-d41a-4141-89ae-1296782229de/gothambolditalic.woff') format('woff');
}