@font-face {
font-family: 'Gotham HTF-Ultra-HWdUq1qt';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/cf0a4f81-f80a-4c1b-907d-ef2f4772b8da/gothamhtf-ultra.woff') format('woff');
}