@font-face {
font-family: 'Gotham-Bold-HPhfSSd8';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/3f1a1551-33d3-4d73-aadf-04ad84920eae/gotham-bold.woff') format('woff');
}