@font-face {
font-family: 'Gotham HTF-Book-G2uUgCTP';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/2ed36aa2-91a3-40d9-ba39-490ae35f5654/gothamhtf-book.woff') format('woff');
}