@font-face {
font-family: 'Gotham HTF-BookItalic-3EH1xVio';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/2929fae4-3a80-434d-a5b1-6ffb526e6fb6/gothamhtf-bookitalic.woff') format('woff');
}