@font-face {
font-family: 'Kapra Regular-Normal-xud9uk5L';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/7ff424bc-c265-4d6c-9df3-c05595802ff6/kapra-regular.woff') format('woff');
}