@font-face {
font-family: 'Kapra Bold-Typoforge S-byPo3Pzd';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/16144a5b-17c9-47b3-93a3-6a389f782cff/typoforge-studio-kapra-bold.woff') format('woff');
}