@font-face {
font-family: 'Gotham-Light Regular-UGWKOfum';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/c9bbd923-fe49-47b1-aa41-e30ea3713526/gotham-light-regular.woff') format('woff');
}