@font-face {
font-family: 'Minion Pro-Regular-gud1aSWb';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/2c494dd7-39fa-4f50-8b85-492b95242bef/minionpro-regular.woff') format('woff');
}