@font-face {
font-family: 'Archer Bold-Pro-x8grxKtx';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/84d31b64-e28d-4bd0-8056-c18afd4242a9/archer-bold-pro.woff') format('woff');
}