@font-face {
font-family: 'Gotham HTF-Bold-Hubt7wVM';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/37ffa766-f652-4822-bd0b-a9eaf43adf90/gothamhtf-bold.woff') format('woff');
}