@font-face {
font-family: 'Pill Gothic 300mg Rg-P-O6Xjtsv8';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/33c7ed42-fb54-40ee-a611-77dbf2ad7919/pill-gothic-300mg-regular.woff') format('woff');
}