@font-face {
font-family: 'Gotham HTF-BlackItalic-vy76nuuQ';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/6b7b0916-a884-477e-92e4-ca63890d5145/gothamhtf-blackitalic.woff') format('woff');
}