@font-face {
font-family: 'Archer Book-Pro-7ORvHQWr';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/2665ac91-4f43-48dc-bbcf-663c7e795a8f/archer-book-pro.woff') format('woff');
}