@font-face {
font-family: 'Kapra Regular-Typoforg-Rq5lWmWy';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/1c44c443-a2ea-4499-b359-b8c088fa957b/typoforge-studio-kapra-regular.woff') format('woff');
}